
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background:url(../img/pexels-jonas-von-werne-7108185.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;   
}

#solarSystem{
    height:100vh;
}